.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 290px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.search-button {
  background-color: rgb(67, 156, 137);
  border: none;
  padding: 8px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: aliceblue;
}

.search-icon {
  width: 16px;
  height: 16px;
  font-size: 10px;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
}

.dropdown-section {
  padding: 8px;
  background-color: #f1f1f1;
  font-weight: bold;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e1e1e1;
}
